.content-container {
    columns: 5;
    padding: 1vw;
}
.content-container img {
    margin-bottom: 1vw;
}

/* Add this to your CSS file */
.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none; /* Initially hidden */
}

.fullscreen-overlay img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

@media screen and (max-width: 600px) {
    .content-container {
        columns: 3;
    }
    
}