* {
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

:root {
    /* These are global variables that you can use in your CSS */
    --black: #121212;
    --dark-grey:#333;
    --mid-grey:#666;
    --light-grey:#999;
    --white:white;
    --accent-colour:yellow;
    --headline-font:"poppins", sans-serif;
    --body-font:"poppins", sans-serif;
    --horizontal-shift:6px;
    --section-padding-top:120px; 
}

html {
    background-color: #0A0A0A;
    color: rgb(235, 235, 235);
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    cursor: url('../files/pointer.png'), auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--headline-font);
    color: rgb(235, 235, 235);
}

h1 {
    font-size: clamp(1.5rem, calc(26px + (26 - 18) * (100vw - 400px) / (1800 - 400)), 4rem); 
    /* font-size: calc(26px + (26 - 18) * (100vw - 400px) / (1800 - 400)); */
    line-height: 1.2;
}

h2 {
    font-size: calc(16px + (16 - 14)*(100vw - 400px) / (1800 - 400));
    font-weight: 600;
}

h3 {
    font-size: calc(15px + (15 - 11) * (100vw - 400px) / (1800 - 400));
}

p {
    font-size: calc(11px + (11 - 8) * (100vw - 400px) / (1800 - 400));
    color: rgb(235, 235, 235);
    line-height: 1.4;
}

a {
    font-size: calc(15px + (15 - 11) * (100vw - 400px) / (1800 - 400));
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.dark-filter {
    opacity: 0.9;
    background-color: black;
}

.btn {
    background-color: #171717;
    border-right: 3.5px solid #C13838;
    border-bottom: 3.5px solid #C13838;
    color: white;
    padding: 8px 25px;
    font-size: 0.73rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: 10px;
    transition: 0.3s;
    margin: 3vw;
    white-space: nowrap;
}

.btn2 {
    color: white;
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: 0.3s;
    margin: 3vw; 
    text-decoration: underline;
    white-space: nowrap;
}

.btn:hover {
    background-color: #C13838;
}

.btn2:hover {
    color: #C13838;
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Start fully transparent */
    }
    to {
        opacity: 1; /* End fully visible */
    }
}

.content-container {
    margin-left: calc(15vw + 8px);
}

#logo {
    width: 5vw;
    height: auto;
}

nav {
    background: linear-gradient(to bottom, #030303, #03000070);
    border-right: 8px solid #C13838;
    position: fixed;
    z-index: 1;
    width: 15vw;
}


nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

nav ul li a{
    color: white;
    display: block;
}

nav ul li a:hover {
    /* filter: drop-shadow(2px 2px 2px #C13838); */
    color: #c96060;
}

.center-align {
    display: flex;
    flex-direction: row-reverse; /* Change to row if you want items side by side */
    align-items: center; /* Center items horizontally */
    justify-content: flex-end; /* Center items vertically */
}

nav ul li p {
    font-size: clamp(0.8rem, calc(11px + (11 - 9)*(100vw - 400px) /(1800 - 400)), 4rem);
    /* font-size: calc(11px + (11 - 9)*(100vw - 400px) /(1800 - 400)); */
    letter-spacing: 2px;
    font-weight: 200;
    text-align: center;
    margin-top: 12px;
}

nav ul > li:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.nav-buttons {
    width: 38%;
}

.nav-buttons li{
    margin-bottom: 3vh;
    font-weight: 400;
}

.li-hover {
    position: absolute;
    left: -6vw;
    background-color: #C13838;
    height: 4px;
    width: 6.6vh;
    opacity: 0;
    box-shadow: 0 0 6px #C13838;
    visibility: hidden;
    transition: opacity 1s visibility 1s;
}

.nav-buttons li:hover .li-hover {
    opacity: 1;
    visibility: visible;
    transform: translateX(6vw);
}

nav .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.8vh;
    margin-bottom: 1vh;
}

.contact p {
    font-weight: 700;
    letter-spacing: 0.4px;
}

nav .contact-icons {
    display: flex;
    flex-direction: row;
}

.contact-icons li i{
    font-size: 1.6rem;
    height: auto;
    width: auto;
    padding: 10px;
}
.contact h6 {
    font-size: calc(7px + (9 - 7) * (100vw - 400px) / (1800 - 400));
    line-height: 1.3;
    font-weight: 100;
}

header {
    background-image: url(../images/NYTimesMagazine-Mockup-COVER.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.header-details {
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin-bottom: 20vh;
}

.header-details picture {
    height: 100vh;
}

.header-details img{
    height: 100%;
    object-fit: cover;
}

.header-text {
    height: 90%;
    padding: 0 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-text h2 {
    margin-bottom: 0.5rem;
}

.header-text h4 {
    font-weight: 300;
    font-style: italic;
}

.header-text p {
    font-size: calc(10px + (16 - 10) * (100vw - 400px) / (1800 - 400));
    line-height: 1.6;
    margin-top: 1rem;
}
.header-text li {
    font-size: calc(8px + (14 - 8) * (100vw - 400px) / (1800 - 400));
    /* margin-bottom: 16px; */
}

.header-text .two-columns {
    row-gap: 2rem;
    margin-bottom: 0;
    line-height: 2;
}

.title-deco-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 4.3%;
}

.title-deco-container h3 {
    font-weight: 300;
    font-size: 14px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1); /* Add text shadow */

}

.title-deco {
    background-color: #C13838;
    height: 5px;
    width: 28%;
    margin: 0px 2.2vw;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8); /* Add drop shadow */

}

.main-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 1vh 5vw;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    justify-content: space-evenly;
    backdrop-filter: blur(11px) brightness(0.9); /* Blur and brightness adjustments */
    -webkit-backdrop-filter: blur(11px) brightness(0.9); /* For Safari support */
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
}

.main-index h1 {
    text-align: center;
}

.main-index img {
    width: 37%;
    object-fit: cover;
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
}

.main-p-container h2{
    text-align: center;
    font-weight: 500;
    line-height: 4;
}

.gallery-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
    animation-timeline: view();
    animation-range: entry 30%;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0;
    height: 70vh;
    width: 100%;
}

.gallery-description {
    position: relative;
    width: 100%;
    height: 62vh;
    overflow: hidden;
}

.gallery-description h1 {
    white-space: nowrap;
}

.gallery-description > div {
    opacity: 0; /* Start hidden */
    transition: opacity 0.5s ease; /* Smooth fade-in and fade-out */
    position: absolute; /* Stack descriptions */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none; /* Initially hidden */
}

.gallery-description > div.active {
    opacity: 1; /* Fully visible */
    display: block; /* Make it block-level so it’s rendered */
}

.default-description ,
.unity-description ,
.bespoken-description , 
.kingdom-description , 
.signage-description {
    height: 62vh;
    padding: 3.3vw;
}

.description-deco {
    background-color: #C13838;
    height: 5px;
    width: 25%;
    margin: 0px 0 0 2vw;
}

.gallery-container h2 {
    margin-bottom: 10vh;
}

.gallery-container p {
    margin-bottom: 60px;
}

.gallery-container .btn {
    padding: 8px 22px;
    font-size: 0.73rem;
    border-radius: 14px;
}

.default-description div:nth-child(1),
.unity-description div:nth-child(1),
.bespoken-description div:nth-child(1), 
.kingdom-description div:nth-child(1), 
.signage-description div:nth-child(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.gallery div:nth-child(1) img ,
.gallery div:nth-child(2) img ,
.gallery div:nth-child(3) img ,
.gallery div:nth-child(4) img ,
.gallery div:nth-child(5) img {
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.image-wrapper {
    position: relative;
    overflow: hidden;
}

.image-wrapper p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(1.5rem, 3vw, 3rem);
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 800;
    opacity: 0; /* Hide the text */
    transition: opacity 0.3s ease; /* Smooth transition */
    pointer-events: none;
}

.image-wrapper:hover p {
    opacity: 1; /* Show the text */
    z-index: 1;
}

.default-img {
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Add transition for smooth effect */
}
  
.gallery div:hover .overlay {
    opacity: 1; /* Show the overlay on hover */
}

.two-columns div:hover .overlay{ 
    opacity: 1;
}

.image-wrapper::after {
    content: ''; /* Creates an empty pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth fade-in/out transition */
    pointer-events: none; /* Allow clicks to pass through */
}

.image-wrapper:hover::after {
    opacity: 1; /* Shows the overlay on hover */
}

.slider {
    height: 20vh;
    padding-block: 1rem;
    border-block: 5px solid #C13838;
    display: flex;
    overflow: hidden;
    user-select: none;
    --slider-gap: 1rem;
    gap: var( --slider-gap);
    margin: 2vh 0 2vh 0;
}

.slider picture {
    display: flex;
    justify-content: space-between;
    gap: var( --slider-gap);
    align-items: center;
    flex-shrink: 0;
    min-width: 100%;
    animation: slider-scroll 35s linear infinite;
}

.slider picture img {
    height: 20vh;
    width: 10vw;
    object-fit: cover;
}

@keyframes slider-scroll {
    to {
        transform: translateX(calc(-100% + var( --slider-gap)));
    }
}


.profile {
    margin: 0 0 2vh 0px;
    border-bottom: 5px solid #C13838;
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
    animation-timeline: view();
    animation-range: entry -30%;
}

.profile-text {
    text-align: center;
    line-height: 2;
    margin: 10vh auto;
    width: clamp(25vw, 30vw, 30vw);
}

.profile p {
    text-align: left;
    margin: 60px 0;
}

.creative-suite {
    display: flex;
    height: 7.7vh;
    padding: 3% 0;
    justify-content: center; /* Center align content */
    gap: 38px;
    transition: 0.2s;
}

.skills h1 {
    text-align: center;
    margin-top: 10vh;
}

.personal-skills {
    font-size: 14px;
    padding-block: 7px;
    border-block: 2px solid;
    display: flex;
    overflow: hidden;
    user-select: none;
    --gap: 4.9vw;
    gap: var( --gap);
    margin: 4vh 0 2vh 0;
}

.personal-skills ul {
    display: flex;
    justify-content: space-between;
    gap: var( --gap);
    align-items: center;
    flex-shrink: 0;
    min-width: 100%;
    animation: scroll 45s linear infinite;
}

.personal-skills:hover ul {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(calc(-100% - var(--gap)));
    }
    100% {
        transform: translateX(0);
    }
}

.personal-skills li:hover {
    color:#e15b5b;
}

.creative-suite img {
    object-fit: contain;
    height: 7.7vh;
}

.hover-effect:hover img{
    filter: grayscale(1) blur(2px);
}

.hover-effect img:hover {
    filter: none;
}

.hover-effect img.active {
    filter: none;
}

.hover-effect img.inactive {
    filter: grayscale(1) blur(2px);
}

.hover-effect img:hover:not(.active) {
    filter: none;
}

.slider-item h5 {
    font-weight: 300;
    font-size: 14px;
}

.fit-text {
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.1em; /* Adjust this value as needed */
}

.skills-container {
    display: flex;
    height: 70vh;
    justify-content: flex-end;
    position: relative;
    margin: 5vh 5vw 0 5vw;
    border-bottom: 5px solid #C13838;
    animation: slide-up 0.5s ease-out; /* Apply the slide-up animation */
    animation-timeline: view();
    animation-range: entry 25%;
}

.skills-display {
    height: 55vh;
    width: 40vw;
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../images/Emblem.svg'); /* Corrected syntax */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.skills-bar {
    background-color: #C13838;
    height: 0%;
    width: 50px;
    transform: translate(-50%, 0%);
    position: absolute;
    bottom: 0;
    right: 25%;
    animation: slide-up 0.5s ease-out; /* Apply the slide-up animation */
    animation-timeline: view();
    animation-range: entry 25%;
}

.skills-chart {
    position: absolute;
    right: 10%;
    bottom: 0;
    width: 16vw;
    z-index: -1;
    --container-height: 50vh; /* Define a custom property for the container height */
}

.skills h4 {
    text-align: end;
    color: gray;
}

.skills-deco {
    border-top: 1px solid grey;
    height: calc(var(--container-height) * 0.2); /* Calculate 20% of the container height */

}

.show-image img {
    opacity: 1; /* Show the images */
}

#about ul {
    list-style: none;
}

.featured {
    grid-column: 1/-1;
    width: 100%;
}

#portfolio {
    margin-top: 15vh;
    padding: 0 5vw;
}

#portfolio a:hover h3
#portfolio a:hover p {
    padding-left: 1vw;
}

#contact {
    min-height:auto;
    margin-top: 42px;
}

#contact ul {
    display: flex;
    list-style-type: none;
    margin-bottom:1rem;
}

#contact ul li a {
    text-decoration: none;
    color: var(--accent-colour);
    margin: 0 20px 0 0;
    font-size: 32px;
}

#contact ul li a:hover {
    text-decoration: none;
    color: var(--mid-grey);
}

.auto-height {
    min-height: auto;
}


.process-title {
    text-align: center;
    padding: 6rem 0 2rem 0;
}

.process {
    display: flex;
    flex-direction: row;
    padding: 0 5vw;
    justify-content: center;
    align-items: center;
    margin-bottom: 15vh;
}

.process-reverse {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 5vw;
    justify-content: center;
    align-items: center;
    margin-bottom: 15vh;
}

.process picture,
.process-reverse picture,
.process-text {
    width: 50%;
}

.process-text {
    box-sizing: border-box;
    padding: 0 4rem;
}

.process-text h3 {
    text-align: center;
}

.process-text-span {
    width: 75%;
}

.resize {
    min-height: 50vh;
    max-height: 75vh;
    object-fit: contain;
}

#portfolio .two-columns div img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.hide-text h3,
.hide-text p{
    display: none;
}

#menu-icon,
#close-icon {
    display: none;
}

footer{
    display: none;
}

/* Medium devices (i.e. tablets in landscape */
@media (max-width: 900px) {
    nav ul li p {
        margin-bottom: 6px;
        line-height: 1.4;
    }

    .nav-buttons {
        width: 80%;
    }

    nav .contact-icons {
        flex-direction: column;
    }

    .profile {
        flex-direction: column;
    }

    .divider {
        display: none;
    }

    .two-columns-fixed {
        grid-template-columns: 1fr 1fr;
        column-gap: 4rem;
    }

    .two-columns-fixed h2 {
        grid-column: 1 / span 2;
    }

    .header-text {
        height: 75%;
    }

    .header-text p {
        font-size: calc(12px + (18 - 12) * (100vw - 400px) / (1800 - 400));
    }

    .header-text li {
        font-size: calc(11px + (16 - 11) * (100vw - 400px) / (1800 - 400));
        line-height: 1.5;
    }

    .process-text {
        padding: 1rem;
    }

    .process,
    .process-reverse {
        margin-bottom: 4vh;
    }

}


/* Small devices (i.e. tablets in portrait) */
@media (max-width: 600px) {

    .container {
        display: block;
    }

    nav {
        overflow: hidden;
        width: 100vw;
        height: 72px;
        position: fixed;
        top: 0;
        border-bottom: 3px solid #C13838;
        background: black;
        z-index: 2;
        }

    /* Add styles for when the element is being touched */
    .touch-slide {
        background-color: #C13838; /* Example style */
        /* Add other styles as needed */
    }

    nav ul {
        flex-direction: row;
        height: auto;
        justify-content: normal;
        flex-wrap: wrap;
        margin: 0.75rem 0vw 0 0vw;
    }

    nav ul li a {
        width: auto;
    }

    nav ul li:first-child:not(.nav-buttons li){
        display: flex;
        flex-direction: row;
        flex-basis: calc(66% - 5vw);
        margin: 0 0 0 5vw;
        align-items: center;
        gap: 0.4rem;
    }

    nav ul >li:nth-child(1) div {
        margin-top: 0;
    }

    nav ul li img {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 2vw;
    }

    nav ul li p {
        font-size: 0.5rem;
        margin-bottom: 0;
        text-align: left;
        margin-top: 0.2rem;
    }

    .nav-buttons {
        text-align: center;
        width: 100%;
        background-color: #070707;
    }

    .nav-buttons li {
        margin: 1.3rem; 
        justify-content: center;
    }

    .li-hover {
        display: none;
    }

    #content-container, #gallery-container, #about {
        height: calc(100vh - 72px);
        scroll-margin-top: 72px;
    }

    #logo {
        width: 2.4rem;
        height: auto;
    }

    #menu-icon, #close-icon {
        flex-basis: calc(34% - 5vw);
        text-align: right;
    }
    
    #menu-icon {
        display: block; 
        font-size: 22px;
    }

    #close-icon {
        font-size: 22px;
    }

    nav .contact {
        display: none;
    } 
    
    .navexpanded #close-icon {
        display: inline-block;
    }

    .navexpanded #menu-icon {
        display: none;
    }

    .navexpanded {
        height: auto;
        transition: height 0.3s ease;
    }

    header {
        height: calc(100vh - 72px);
    }

    .content-container {
        margin-left: 0;
        margin-top: 72px;
    }

    .main-index {
        width: 80vw;
        gap: 6%;
        justify-content: center;
        padding: 2vh 5vw;
    }

    .main-index img {
        width: 50vw;
        object-fit: cover;
    }

   .main-index .btn {
        font-size: 0.6rem;
        letter-spacing: 0.5px;
    }

    .image-wrapper p {
        font-size: 2rem;
    }

    .title-deco-container h3 { 
        white-space: nowrap;
        font-size: 12px;
    }

    .title-deco {
        height: 2.4px;
        width: 100%;
    }

    .gallery-container {
        flex-direction: column;
    }

    .gallery {
        height: 50vh;
    }

    .gallery-description h1 {
        font-size: clamp(0.5rem, calc(24px + (24 - 18)*(100vw - 400px) /(1800 - 400)), 4rem);
    }

    .description-deco {
        height: 3px;
    }

    .gallery-description {
        height: 50vh;
    }

    .gallery-container .btn {
        padding: 10px 22px;
        font-size: 0.65rem;
        border-radius: 11px;
    }

    .hide-link-on-phone {
        pointer-events: none; /* Disable click events */
        cursor: default; /* Change cursor to default */
    }

    
    .header-details {
        grid-template-columns: 1fr;
        height: 100%;
        row-gap: 42px;
        padding-top: 72px;
    }
    
    .header-details picture {
        height: 40vh;
    }

    .header-text {
        height: 100%;
        display: block;
    }

    .header-text li {
        font-size: calc(12px + (16 - 12) * (100vw - 400px) / (1800 - 400));
        margin-top: 8px;
        list-style-type: none;
    }

    .header-text h2 {
        text-align: center;
    }

    .header-text h4 {
        text-align: center;
    }

    .header-text p {
        font-size: calc(13px + (18 - 13) * (100vw - 400px) / (1800 - 400));
        margin: 42px 0;
    }

    .profile {
        margin: 0;
    }
        
    .profile > .profile-text > p {
        line-height: 1.7;
    }

    .profile-text {
        width: 90vw;
    }

    .slider:nth-child(1) {    
        --slider-gap: 0.7rem;
        height: 12vh;
    }

    .slider picture img {
        height: 13vh;
        width: 20vw;
    }

    /* .slider:nth-child(2) {
        --image-height: 22px !important;
        --image-width: 18% !important;
        border-top: 1.7px solid white !important;
        border-bottom: 1.7px solid white !important;
        padding-top: 9px !important;
    } */

    /* .second-slider-list .slider-item {
        width: 0%;
        animation: autoRun 20s linear infinite;
        animation-delay: calc((20s / var(--quantity))*(var(--position) - 1));
    } */

    /* .slider-item h5 {
        font-size: 12px;
    } */

    .skills {
        margin-left: 0px !important;
        height: auto !important;
    }

    .skills h4 {
        font-size: 9px;
    }

    .skills-container {
        height: 50vh;
        margin: 0;
    }

    .creative-suite {
        gap: 0.6rem;
        padding: 3% 5vw;
        height: auto;
    }

    .creative-suite a {
        scroll-margin-top: 50vh;
    }

    .creative-suite img {
        height: 4rem;
        width: 10vw;
    }

    .skills-display {
        height: 50vh;
        width: 50vw;
    }

    .skills-chart {
        --container-height: 40vh;
    }

    .skills-bar {
        width: 36px;
    }

    .two-columns-fixed {
        grid-gap: 0;
        height: auto;
        justify-items: center;
        overflow-x: hidden;
        grid-template-columns: 1fr;
    }

    .two-columns-fixed > :nth-child(3n+1) {
        font-size: calc(18px + (28 - 18) * (100vw - 400px) / (1800 - 400));
        margin: 20px 0;
        background-color: black;
        /* border-bottom: 1px groove red; */
        width: 35%;
        overflow-x: hidden;
        padding: 10px 0;
        border-radius: 6px;
        text-align: center;
    }

    
    .two-columns-fixed h2 {
        grid-column: unset;
    }

    .two-columns-fixed h3 {
        text-transform: capitalize;
        margin-bottom: 0;
    }

    .two-columns ul:nth-child(1){ 
        text-align: right;
    }

    .two-columns ul:nth-child(2){ 
        text-align: left;
    }

    .process,
    .process-reverse {
        margin-bottom: 3vh;
        flex-direction: column-reverse;
        gap: 30px;
    }

    .process picture,
    .process-reverse picture {
        width: 70%;
    }

    .process-text {
        width: 100%;
        padding: 0 16px;
    }

    .process-text p {
        font-size: calc(12px + (24 - 12) * (100vw - 400px) / (1800 - 400));
        line-height: 1.4;
    }

    #portfolio {
        margin-top: 10vh;
        padding: 0;
    }

    #portfolio h2 {
        padding: 5vw;
    }

    #portfolio .two-columns {
        grid-gap: 1rem;
    }
    
    footer {
        display: block;
        background-color: black;
        text-align: center;
        padding: 16px 0 8px 0;
    }

    footer .contact-icons{ 
        list-style-type: none;
        display: flex;
        justify-content: center;
    }

    footer .contact-icons li a {
    color: white;
    }

    .contact-icons li i {
        font-size:1.8rem;
        padding: 20px;
    }

    .contact p {
        font-size: calc(16px + (24 - 16) * (100vw - 400px) / (1800 - 400));
    }

}



/* Large devices (i.e. desktop) */
@media (max-width: 1200px) {

    .two-columns {
        grid-gap: 0;
        line-height: 1.8
        ;
    }

    .two-columns-fixed {
        margin-right: 5vw;
    }
}