header {
    background-image:none !important;
}

.header-details {
    display:grid
}

.featured {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 18px
}

.featured div {
    height: 80vh;
    width: calc(85vw - 23px);
    background-color: #C13838;
    background-image: url(../images/NYTimesMagazine-Mockup-COVER.jpg);
    background-size: cover;
    background-position: center;
}

.filter-buttons {
    display: flex; /* Use flexbox to align items */
    justify-content: center; /* Center the buttons horizontally */
    margin: 0 auto; /* Center the container itself if needed */
    width: fit-content; /* Adjust width as needed */
    margin-bottom: 2vh;
}

.filter-button {
    font-size: 13px;
    border: 1px solid #ffffff;
    border-radius: 11px;
    /* text-align: center; */
    cursor: pointer;
    padding: 6px 16px;
    margin: 0px 2px;
    background-color: #0e0e0e;
    color: #ffffff;
    transition: 0.3s;
}

.filter-button:hover,
.filter-button:focus {
    background-color: #C13838;
    border: 1px solid #C13838;
}

.works-container {
    columns: 3;
}

.works-container > div > div {
    height: 60vh;
    width: auto;
    background-color: #C13838;
}